.ad{
    height: 15%;
    background-image: url(Energy%203.jpg);
    background-size: 100%;
    border: 2px solid black;
    opacity: 80%;
}
.bottom-main{
    height: 81.5%;
}
.information{
    height:100%;
    width:78%;
    float:left;
    background-color: #2db660;
    margin-top:10px;
    border: 2px solid black;
}
.links{
    height:100%;
    width:20%;
    float:right;
    margin-top:10px;
    margin-right: 0.4%;
    text-align: center;
}
.clean-water{
    height:48.5%;
    background-color: #1b72b4;
    border: 2px solid black;
    margin-bottom: 3.1%;
}
.sanitation{
    height:48.5%;
    background-color: #2db660;
    border: 2px solid black;
}
.ad:hover{
    opacity: 100%;
    transition-duration: 0.5s;
}
a{
    text-decoration: none;
}
p{
    margin-top: 8px;
}
.clean-water:hover{
    background-color: #1d2d7e;
    transition-duration: 0.5s;
}
.sanitation:hover{
    background-color: forestgreen;
    transition-duration: 0.5s;
}
