.sanitisation{
    height: 49.1%;
    width:29.3%;
    float:left;
    background-color: #2db660;
    border: 2px solid black; 
    box-sizing: border-box;
}
.Clean-Water{
    height: 49.1%;
    width:29.3%;
    float:left;
    background-color: #1b72b4;
    margin-bottom: 9px;
    border: 2px solid black; 
    box-sizing: border-box;
}
.pic-gallery{
    width:70%;
    height:80%;
    float:right;
    background-color: darkviolet;
    border: 2px solid black; 
    box-sizing: border-box;
}
.bottom{
    width:70%;
    height:18.4%;
    background-color: #1b72b4;
    float:right;
    margin-top: 9px;
    border: 2px solid black; 
    box-sizing: border-box;
}