.sanitation{
    height: 49.1%;
    width:29.3%;
    float:left;
    background-color: #2db660;
    border: 2px solid black; 
    box-sizing: border-box;
}
.Clean-Water{
    height: 49.1%;
    width:29.3%;
    float:left;
    background-color: #1b72b4;
    margin-bottom: 9px;
    border: 2px solid black; 
    box-sizing: border-box;
}
.pic-gallery{
    width:70%;
    height:80%;
    float:right;
    background-image: url(Water%202.jpg);
    background-size: 100% 100%;
    border: 2px solid black; 
    box-sizing: border-box;
}
.bottom{
    width:70%;
    height:18.4%;
    background-image: url(Energy%203.jpg);
    background-size: 100%;
    border: 2px solid black;
    opacity: 80%;
    float:right;
    margin-top: 9px;
    border: 2px solid black; 
    box-sizing: border-box;
}
.sanitation:hover{
    background-color: forestgreen;
    transition-duration: 0.5s;
}
.clean-water:hover{
    background-color: #1d2d7e;
    transition-duration: 0.5s;
}
p{
    text-align: center;
}
.bottom:hover{
    opacity: 100%;
    transition-duration: 0.5s;
}