
.top {
    width:100%;
    height:23%;
    margin-left:auto;
    margin-right: auto;
}

.nav {
    width:100%;
    height:45%;
    background-color: #0E033c;
    margin-top:1%;
    position: relative;
}
.spacer{
    width:100%;
    height:5%;
    background-color:#dddddd;
}
.quote{
    width:100%;
    height:45%;
    background-color: #1d2d7e;
}
.main{
    width:100%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
}
.sanitisation{
    height: 49%;
    width:29.3%;
    float:left;
    background-color: #2db660;
}
.info{
    height: 49%;
    width:29.3%;
    float:left;
    background-color: #1b72b4;
    margin-bottom: 10px;
}
.pic-gallery{
    width:70%;
    height:80%;
    float:right;
    background-color: darkviolet;
}
.bottom{
    width:70%;
    height:18.4%;
    background-color: #1b72b4;
    float:right;
    margin-top: 8px;
}
ul{
    list-style: none;
    margin:0;
    padding:0;
    text-align: center;
    
}
li{
    display:inline-block;
}
li a{   
    display: inline-block;
    color: white;
    padding: 24px 24px;
    text-decoration: none;
    transition-duration: 0.6s;
}
li a:hover{
    background-color: #1d2d7e;
    cursor:pointer;
}

