.top-main{
    height: 15%;
    background-image: url(Energy%203.jpg);
    background-size: 100%;
    border: 2px solid black;
    opacity: 80%;
}
.left-bottom{
    height:108.6%;
    width:49%;
    float:left;
    background-color: #2db660;
    margin-top:10px;
    border: 2px solid black;
}
.right-bottom{
    height:108.6%;
    width:49%;
    float:right;
    background-color: #2db660;
    margin-top:10px;
    margin-right: 0.4%;
    border: 2px solid black;
}
.top-main:hover{
    opacity: 100%;
    transition-duration: 0.5s;
}
a{
    text-decoration: none;
}
p{
    margin-top: 8px;
}