.top-main{
    height: 15%;
    background-color: yellow;
    border: 2px solid black;
}
.left-bottom{
    height:108.6%;
    width:49%;
    float:left;
    background-color: #2db660;
    margin-top:10px;
    border: 2px solid black;
}
.right-bottom{
    height:108.6%;
    width:49%;
    float:right;
    background-color: #2db660;
    margin-top:10px;
    margin-right: 0.4%;
    border: 2px solid black;
}